@import url('https://fonts.googleapis.com/css2?family=Gotham+Rounded:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebd9b0;
    font-family: 'Gotham Rounded', sans-serif;
    display: grid;
    place-items: center;
}

ul.menu {
    margin-top: 200px;
    width: 100%;
    max-width: 300px;
    color: #353b3F;
    position: relative;
    cursor: pointer;
}

ul.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu .submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #353B3F;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
}
.menu .submenu li {
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}

.menu .submenu li:nth-child(1):hover {
    background-color: #65D076;
}
.menu .submenu li:nth-child(2):hover {
    background-color: #4B82FF;
}
.menu .submenu li:nth-child(3):hover {
    background-color: #42B3DB;
}
.menu .submenu li:nth-child(4):hover {
    background-color: #FA7E91;
}
.menu .submenu li:nth-child(5):hover {
    background-color: #A073FF;
}

.menu img {
    width: 1.1rem;
    transition: transform .2s ease;
}

.menu:hover img {
    transform: rotate(180deg);
}

.menu:hover .submenu {
    top: 100%;
    opacity: 1;
    pointer-events: all;
}